<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div class="form-group" ng-app="mapp" ng-controller="myCtrl">
		    <a ng-click="add()">增加一个</a>    
		    <div ng-repeat="person in list">
                <input type="text" ng-model="person.name" /> <input type="input" ng-model="person.age" value="{{person.age}}" />
                <a ng-show="$index!=0" style="color:red;" ng-click="del($index)">移除</a>
            </div>
            
		</div>		
		<script src="angular.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			var mapp = angular.module("mapp",[]);
			mapp.controller("myCtrl",function($scope){
                $scope.list = [];
                $scope.add=function(){
				    var obj={id:101,age:30,name:"李四"};
				    $scope.list.push(obj);
				}
				
				$scope.del=function(idx){
				    $scope.list.splice(idx,1);
				}
			})			
		</script>		
	</body>
</html>
